/* .main {
  height: max-content;
} */

.left-vector {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.left-vector img {
  height: 99.7vh;
  width: auto;
}

.header {
  margin: -15vh 38vw;
  width: max-content;
  position: absolute;
}

body {
  background-color: #ffcccc;
}

.right-vector {
  right: 0%;
  bottom: 0%;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  color: white;
}

.right-vector-text {
  position: absolute;
  width: max-content;
  top: 75%;
  left: 75%;
  transform: translate(-75%, -75%);
}

/* :root {
  padding: 0;
  margin: 0;
  outline: 0;
  width: 100vw;
  height: 100vh;
} */

.hexagons-container {
  margin: 25vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 5rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.hexagon1 img {
  /* background: url("../images/HexagonPolishDepartment.png"); */
  object-fit: cover;
}

.hexagon1 img:hover {
  background: url("../images/HexagonWhite.png");
}
